


h1, h2{
text-align: center;
color: rgb(4, 202, 209)
}


.carousel-inner{
    object-fit: fill;
}

.contact img{

    height: 350px;
}

.peppermint{
border-radius: 20px;
height: 600px;
display: inline-flex;
justify-content: center;
}

.gallery{

    height: 250px;
}

svg{

    height: 50px;
} 