


h1, h2{
text-align: center;
color: rgb(4, 202, 209)
}


.carousel-inner{
    height: 900px;
}

.carousel-item{
    object-fit: cover;
}
.contact img{

    height: 350px;
}

.peppermint{
border-radius: 20px;
height: 600px;
display: inline-flex;
justify-content: center;
}

.gallery{

    height: 250px;
}

svg{

    height: 50px;
} 

.summary{
    text-align: center;
    font-size: 1cm;
}

.rara{
    padding-top: 60px;
    font-size: x-large;
}



iframe{
width: 100%;
}

.FAQ{
    text-align: center;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.answers{
    text-align: center;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: pink;

}

.contact{
width:100%;

}

.food{
    padding-left: 200px;
    color: rgb(179, 84, 100);
}

.breakfast{
    color: black;
}

.lunch{
    color: black;
}

.yes{
    padding-top: 20px;
}

h5{
    color: gray;
}

.ok{
    padding-top: 60px;
}

@media screen and (max-width: 770px) {
     .carousel-inner{
         height: 350px;
     }
  }

  @media screen and (max-width: 420px) {
    body {
      background-color:red;
    }
  }
  
  